<h1 class="page-title">Alive</h1>







<section>

<header>
    
        <h2>
        Alive
        </h2>
        
            <div class="class-description"><p>Donec imperdiet dignissim semper. Sed vehicula purus dui, eget porta lectus convallis sagittis. Suspendisse ac lectus dignissim, tincidunt nisi quis, gravida metus.</p></div>
        
    
</header>

<article>
    <div class="container-overview">
    
        

    
    <h2>Constructor</h2>
    

    <h4 class="name " id="Alive">new <a href="Alive.js.html#line5">Alive</a><span class="signature">()</span><span class="type-signature"></span>

    

    </h4>

    















<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>
















    
    </div>

    

    

    

     

    

    
        <h2 class="subsection-title">Members</h3>

        
            
<h4 class="name" id="energy"><a href="Alive.js.html#line11">energy</a><span class="type-signature"></span>

</h4>




<div class="description">
    <p>amount of energy</p>
</div>







    <h5 class="subsection-title">Properties:</h5>

    

<table class="props">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>the</code></td>
            

            <td class="type">
            
                <span class="param-type"><a href="Energy.html">Energy</a></span>
            
            </td>

            

            

            <td class="description last"></td>
        </tr>

    
    </tbody>
</table>




<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>






        
    

    
        <h2 class="subsection-title">Methods</h3>

        
            

    

    <h4 class="name " id="survive"><a href="Alive.js.html#line18">survive</a><span class="signature">(environment)</span><span class="type-signature"> &rarr;  <a href="Energy.html">Energy</a></span>

    

    </h4>

    











    <h5>Arguments:</h5>
    

<ol>
  
  <li>
     <code>environment</code> <code>(<span class="param-type"><a href="Environment.html">Environment</a></span>)</code>&nbsp;&nbsp<p>the environment when this Alive thing is surviving</p>
     
  </li>
  
</ol>






<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>
















        
    

    

    
</article>

</section>
<div class="forScrollToTop"></div>