<h1 class="page-title">Global</h1>







<section>

<header>
    
        <h2>
        
        </h2>
        
    
</header>

<article>
    <div class="container-overview">
    
        

        


<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>


        
    
    </div>

    

    

    

     

    

    

    

    
        <h3 class="subsection-title">Type Definitions</h3>

        
                
<h4 class="name" id="EnergyUnit"><a href="Energy.js.html#line21">EnergyUnit</a>

</h4>










    <h5 class="subsection-title">Properties:</h5>

    

<table class="props">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>foo</code></td>
            

            <td class="type">
            
                <span class="param-type">String</span>
            
            </td>

            

            

            <td class="description last"><p>kajsdh kajhsd</p></td>
        </tr>

    

        <tr>
            
                <td class="name"><code>hello</code></td>
            

            <td class="type">
            
                <span class="param-type">Array.&lt;Array.&lt;String>></span>
            
            </td>

            

            

            <td class="description last"><p>aksjdh kaj shdkj asd</p></td>
        </tr>

    
    </tbody>
</table>




<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>






            
                
<h4 class="name" id="EnvironmentConfiguration"><a href="Environment.js.html#line32">EnvironmentConfiguration</a>

</h4>










    <h5 class="subsection-title">Properties:</h5>

    

<table class="props">
    <thead>
    <tr>
        
        <th>Name</th>
        

        <th>Type</th>

        

        

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    

        <tr>
            
                <td class="name"><code>name</code></td>
            

            <td class="type">
            
                <span class="param-type">String</span>
            
            </td>

            

            

            <td class="description last"></td>
        </tr>

    

        <tr>
            
                <td class="name"><code>strange</code></td>
            

            <td class="type">
            
                <span class="param-type">Map.&lt;String, Number></span>
            
            </td>

            

            

            <td class="description last"></td>
        </tr>

    
    </tbody>
</table>




<dl class="details">

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    

    
</dl>






            
    

    
</article>

</section>
<div class="forScrollToTop"></div>